<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ages</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<div> Привет.</div>
<button  > Try </button>

<ul *ngFor="let p of employees">
  <li *ngIf="p.age > 18; else unset" [ngStyle] = "{'color': 'green'}" > {{p.name}} </li>
    <ng-template #unset>
      <li [ngStyle] = "{'color': 'blue'}"> {{p.name}} </li>
    </ng-template>
</ul>

</body>
</html>